.player-img{
    width: 100px;
    height: 100px;
}

.opt-img{
    height: 85px;
    width: 85px;
}

.bg-red{
    background-color: lightcoral;
}

.bg-blue{
    background-color: lightblue;
}

.bg-green{
    background-color: lightgreen;
}

.players{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.img-container{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
